build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |2-
     #/bin/sh
     
     docker-compose -f docker-compose.yaml up -d
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: docker-compose.yaml
lastUpdatedBy: Vipul Choudhary
lastUpdatedOn: 2023-03-15T08:22:15.905Z
