build:
  type: text
  content: |-
    #!/bin/sh


    docker network create nextapp

    docker build -f signupbackend/Dockerfile -t signupbackend:$GIT_COMMIT_ID signupbackend 
    docker tag signupbackend:$GIT_COMMIT_ID  signupbackend:$ROOST_NAMESPACE 
     
    docker build -f Dockerfile -t nextapp:$GIT_COMMIT_ID . 
    docker tag nextapp:$GIT_COMMIT_ID  nextapp:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |-
    #/bin/sh


    docker run  -p 3000:3000 --name frontapp --net nextapp frontend:1.0 

    docker run  -p 4000:4000 --name backapp --net nextapp backend:1.0
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Vipul Choudhary
lastUpdatedOn: 2023-03-15T07:17:10.994Z
