build:
  type: text
  content: |
    #!/bin/sh
    docker network create nextapp 
    cd signupbackend
    docker build -t backend:1.0 .
    cd ..
    docker build -t frontend:1.0 .
deploy:
  type: text
  content: |+
    #/bin/sh
    docker run  -p 3000:3000 --name frontapp --net nextapp frontend:1.0
    docker run  -p 4000:4000 --name backapp --net nextapp backend:1.0

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Vipul Choudhary
lastUpdatedOn: 2023-03-15T06:14:01.507Z
