build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker network create nextapp

    cd signupbackend
    docker build --no-cache -t backend:1.0 .

    cd ..
    docker build --no-cache -t frontend:1.0
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

    docker run -d -p 30010:30010 --name frontapp --net nextapp frontend:1.0
    docker run -d -p 30020:30020 --name backapp --net nextapp backend:1.0

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Akshat Jain
lastUpdatedOn: 2023-03-15T11:30:14.901Z
