build:
  type: text
  content: |-
    #!/bin/sh

    docker network create nextapp


    docker build -f signupbackend/Dockerfile -t signupbackend:$GIT_COMMIT_ID signupbackend 
    docker tag signupbackend:$GIT_COMMIT_ID  signupbackend:$ROOST_NAMESPACE  


    docker build -f Dockerfile -t nextapp:$GIT_COMMIT_ID . 
    docker tag nextapp:$GIT_COMMIT_ID  nextapp:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |2-
     #/bin/sh
     
     docker run -d -p 30060:3000 --name frontapp --net nextapp frontend:1.0
     docker run -d -p 4000:4000 --name backapp --net nextapp backend:1.0
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: docker-compose.yaml
lastUpdatedBy: Vipul Choudhary
lastUpdatedOn: 2023-03-15T09:21:25.037Z
