build:
  type: text
  content: |-
    #!/bin/sh


    docker network create nextapp
    cd signupbackend
    docker build --no-cache -t backend:1.0 .

    cd ..
    docker build --no-cache -t frontend:1.0 .
deploy:
  type: text
  content: |
    #/bin/sh

    docker run  -p 3000:3000 --name frontapp --net nextapp frontend:1.0

    docker run  -p 4000:4000 --name backapp --net nextapp backend:1.0
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: docker-compose.yaml
lastUpdatedBy: Vipul Choudhary
lastUpdatedOn: 2023-03-15T07:50:59.629Z
